.btn-os {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.btn-os:hover {
  background-color: #404bbf;
}
.btn-os:focus {
  background-color: #404bbf;
}
